ESNODE01_NAME=se_es01
ELASTICSEARCH_URL=http://se_es01:9200
ELASTICSEARCH_USERNAME=elastic
ELASTIC_PASSWORD=elpass123
ELASTICSEARCH_APIKEY=
ELASTICSEARCH_BULKER_APIKEY=
ES_INDEX_NAME=cursos
ES_DICT_INDEX_NAME=dicionario_cursos
IES_INDEX_NAME=ies
IES_DICT_INDEX_NAME=dicionario_ies
JSON_FILE_PATH=/data/dados_curso_completo.json
IES_JSON_FILE_PATH=/data/dados_ies.json
API_URL=http://se_api:8080
